.App  {
  
  text-align: center;
}
.App h1 {
   color:  #660708;
   font-family: cursive , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-stretch: extra-expanded;   
  text-shadow: 2px 2px #b1a7a6;

}
