

/*Exercice 3 : Sélecteurs CSS et Styling*/  

/* Question 2 */
img {border:1px solid red;}



/* Question 3 */
h1 { background: black;}



/* Question 4 */
h1,h2 { color: gray;}



/* Question 5 */
.s >h2 { border : 2px solid green; }



/* Question 6  nous avons créé une classe niv 1 : élément d'un seul niveau  */

#niv1{ color: hotpink;}



/* Question 7 nous avons créé une classe plus2 : élément plus de deux niveaux  */
.plus2 { border: 1px solid red;}



/* Question 8 nous avons créé une classe niv2 : élément de deux niveaux  */ 
#niv2 {background: yellow;}



/* Question 9 */
.w>h2:hover  { color: green; }



/* Question 10 */
.m>h2:hover , #tue>h2:hover  {	color: red;}



/*Propriété de spécificité*/

/* Question 11 */
.t h2 , .t h2 , .f h2 , .s h2 , .s h2 , .m h2 { color: pink; }




/* Question 12
Si la spécificité CSS est la même pour les règles en conflit, alors la dernière est prioritaire 
mais dans ce cas les règles sont differentes meme si elles ont la meme spécificité css ( meme poids) 
---> l'ordre n'est pas importanat --> pas de changement */ 



/* Question 13 */
ul li:first-of-type {font-weight: bold;}



/* Question 14 */
ul li:first-of-type{color: red;}



/* Question 15 */
#tue span+div:first-of-type { color: blue;}



/* Question 16 */
#tue span+div:nth-of-type(2) {font-size: 200% ;}



/* Question 17 */
li:nth-of-type(9) { color: deepskyblue;}



/* Question 18 : 5*0+3= 3 , 5*1+3= 8 ,5*2+3=13 ..... */
ul li:nth-of-type(5n+3){color: green;}


